{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

<head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        body{
            color: white;
        }
    </style>
</head>

{% block app_content %}
    <p>Hi, {{ current_user.username }}!</p>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    {% if button %}
    {{ wtf.quick_form(button) }}
    {% endif %}

    <br>
    <div class = 'row'>
        {% for assignment in assignments %}
            {% include '_assignment.html' %}
            <br>
        {% endfor %}
    </div>
    <br>
    {% for task in tasks %}
        {% include '_task.html' %}
    {% endfor %}
{% endblock %}